{%extends "layout.html" %}
{% block content%}
    {% for post in posts%}
        <article>
            <img src="{{ url_for('static', filename='pictures/' + post.author.image_file) }}" alt="">
            <div>
                <a href="{{ url_for('users.user_posts', username=post.author.username)}}"><large> {{ post.author.username }} </large></a>
                <small> {{post.date_posted.strftime('%Y-%m-%d') }} </small>
                
            </div>
            <div>
                <h2><a href="{{ url_for('posts.post', post_id=post.id)}}">{{ post.title }}</a></h2>
                <p>{{post.content}}</p>
            </div>
        </article>
    {% endfor%}

  
{% endblock content %}