<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Blog - {{ title }}</title>
    {% else %}
        <title>about page</title>
    {% endif %}
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link your CSS file here -->
</head>
<body>
    <header>
        <nav class="navigation">
            <ul>
                <li><a href="{{ url_for('main.home' )}}">Home</a></li>
            </ul>

        </nav>

        <nav class="logout">
            <!-- if user  is logged in then the route that should be displayed is the logut route  -->
            {% if current_user. is_authenticated %}
            <a href="{{ url_for('posts.new_post') }}">New Post</a>
            <a href="{{ url_for('users.account') }}">Account</a>
            <a href="{{ url_for('users.logout') }}">logout</a>
            {% else %}
            <a href="{{ url_for('users.login') }}">Login</a>
            <a href="{{ url_for('users.register') }}"> SignUp</a>
            {% endif %}
        </nav>

        
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>