{%extends "layout.html" %}
{% block content%}
        <article>
            <img src="{{ url_for('static', filename='pictures/' + post.author.image_file) }}" alt="">
            <div>
                <large> {{ post.author.username }} </large>
                <small> {{post.date_posted.strftime('%Y-%m-%d') }} </small>
                {% if post.author == current_user %}
                    <div>
                        <a href="{{'update_post', post_id=post.id}}">Update</a>
                        <button type="button">Delete</button>
                    </div>
                {% endif%}
            </div>
            <div>
                <h2>{{ post.title }}</h2>
                <p>{{post.content}}</p>
            </div>
        </article>
{% endblock content %}