{%extends "layout.html" %}
{% block content%}
        <article>
            <img src="{{ url_for('static', filename='pictures/' + post.author.image_file) }}" alt="">
            <div>
                <large> {{ post.author.username }} </large>
                <small> {{post.date_posted.strftime('%Y-%m-%d') }} </small>
                {% if post.author == current_user %}
                    <div>
                        <button><a href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a></button>
                        <button><a href="{{ url_for('posts.delete_post', post_id=post.id) }}">Delete</a></button>
                    </div>
                {% endif%}
            </div>
            <div>
                <h2>{{ post.title }}</h2>
                <p>{{post.content}}</p>
            </div>
        </article>
        <!-- Delete Modal -->
{% endblock content %}